<div id="<%= dom_id create_chat %>">
  <p>
    <strong>Number:</strong>
    <%= create_chat.number %>
  </p>

  <p>
    <strong>Application:</strong>
    <%= create_chat.application_id %>
  </p>

  <p>
    <strong>Messages count:</strong>
    <%= create_chat.messages_count %>
  </p>

</div>
